.table{
    tr{
        th{
        }
        td{
        }
    }
}

table{
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto 50px auto;
    text-align: center;
}

table,
tr,
th,
td{
    border: 1px solid gray;
    padding: 10px 20px;
}

h1{
    text-align: center;
}

.btn{
    border: none;
    background: lightblue;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn__delete{
    background: red;
    color: white;
}

.users-form{
    display: flex;
    justify-content: center;
    label{
        display: block;
        margin: 0 0 8px 0;
        letter-spacing: 2px;
    }
    &__textbox{
        width:350px;
        height: 30px;
        padding: 0 10px;
        display: block;
        margin: 0 0 10px 0;
        &:focus{
            outline: none;
        }
    }
    &__btn{
        border: none;
        background: rgb(11, 121, 211);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 2px;
    }
}