:root {
    --var-white: #fff;
    --var-black: #000;
    --var-lightblue: rgb(19, 110, 140);
    --var-lightgrey: lightgrey;
    --var-red: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}